@use 'sass:color';

$background: #faf8ff;

$error: #ba1a1a;

$error_container: #ffdad6;

$inverse_on_surface: #f1f0f7;

$inverse_primary: #afc6ff;

$inverse_surface: #2f3036;

$on_background: #1a1b20;

$on_error: #ffffff;

$on_error_container: #410002;

$on_primary: #ffffff;

$on_primary_container: #001944;

$on_primary_fixed: #001944;

$on_primary_fixed_variant: #2e4578;

$on_secondary: #ffffff;

$on_secondary_container: #141b2c;

$on_secondary_fixed: #141b2c;

$on_secondary_fixed_variant: #404659;

$on_surface: #1a1b20;

$on_surface_variant: #44464f;

$on_tertiary: #ffffff;

$on_tertiary_container: #2a132c;

$on_tertiary_fixed: #2a132c;

$on_tertiary_fixed_variant: #593d5a;

$outline: #757780;

$outline_variant: #c5c6d0;

$primary: #465d91;

$primary_container: #d9e2ff;

$primary_fixed: #d9e2ff;

$primary_fixed_dim: #afc6ff;

$scrim: #000000;

$secondary: #575e71;

$secondary_container: #dbe2f9;

$secondary_fixed: #dbe2f9;

$secondary_fixed_dim: #bfc6dc;

$shadow: #000000;

$source_color: #165fce;

$surface: #faf8ff;

$surface_bright: #faf8ff;

$surface_container: #eeedf4;

$surface_container_high: #e8e7ef;

$surface_container_highest: #e2e2e9;

$surface_container_low: #f4f3fa;

$surface_container_lowest: #ffffff;

$surface_dim: #dad9e0;

$surface_tint: #465d91;

$surface_variant: #e1e2ec;

$tertiary: #725572;

$tertiary_container: #fdd7fa;

$tertiary_fixed: #fdd7fa;

$tertiary_fixed_dim: #dfbbde;


