@use 'sass:color';

$background: #fff8f6;

$error: #ba1a1a;

$error_container: #ffdad6;

$inverse_on_surface: #ffede7;

$inverse_primary: #ffb596;

$inverse_surface: #382e2a;

$on_background: #231a16;

$on_error: #ffffff;

$on_error_container: #410002;

$on_primary: #ffffff;

$on_primary_container: #360f00;

$on_primary_fixed: #360f00;

$on_primary_fixed_variant: #71361a;

$on_secondary: #ffffff;

$on_secondary_container: #2c160c;

$on_secondary_fixed: #2c160c;

$on_secondary_fixed_variant: #5d4034;

$on_surface: #231a16;

$on_surface_variant: #53443e;

$on_tertiary: #ffffff;

$on_tertiary_container: #201c00;

$on_tertiary_fixed: #201c00;

$on_tertiary_fixed_variant: #4e471b;

$outline: #85736c;

$outline_variant: #d8c2ba;

$primary: #8e4d2f;

$primary_container: #ffdbcd;

$primary_fixed: #ffdbcd;

$primary_fixed_dim: #ffb596;

$scrim: #000000;

$secondary: #77574a;

$secondary_container: #ffdbcd;

$secondary_fixed: #ffdbcd;

$secondary_fixed_dim: #e6beae;

$shadow: #000000;

$source_color: #fd6401;

$surface: #fff8f6;

$surface_bright: #fff8f6;

$surface_container: #fceae4;

$surface_container_high: #f6e4de;

$surface_container_highest: #f1dfd9;

$surface_container_low: #fff1ec;

$surface_container_lowest: #ffffff;

$surface_dim: #e8d6d0;

$surface_tint: #8e4d2f;

$surface_variant: #f5ded5;

$tertiary: #675f30;

$tertiary_container: #efe3a9;

$tertiary_fixed: #efe3a9;

$tertiary_fixed_dim: #d2c78f;


