@use 'sass:color';

$background: #fbf8ff;

$error: #ba1a1a;

$error_container: #ffdad6;

$inverse_on_surface: #f2f0f7;

$inverse_primary: #b7c4ff;

$inverse_surface: #2f3036;

$on_background: #1a1b21;

$on_error: #ffffff;

$on_error_container: #410002;

$on_primary: #ffffff;

$on_primary_container: #05164b;

$on_primary_fixed: #05164b;

$on_primary_fixed_variant: #364479;

$on_secondary: #ffffff;

$on_secondary_container: #171b2c;

$on_secondary_fixed: #171b2c;

$on_secondary_fixed_variant: #424659;

$on_surface: #1a1b21;

$on_surface_variant: #45464f;

$on_tertiary: #ffffff;

$on_tertiary_container: #2c1229;

$on_tertiary_fixed: #2c1229;

$on_tertiary_fixed_variant: #5c3d56;

$outline: #767680;

$outline_variant: #c6c5d0;

$primary: #4e5b92;

$primary_container: #dde1ff;

$primary_fixed: #dde1ff;

$primary_fixed_dim: #b7c4ff;

$scrim: #000000;

$secondary: #5a5d72;

$secondary_container: #dee1f9;

$secondary_fixed: #dee1f9;

$secondary_fixed_dim: #c2c5dd;

$shadow: #000000;

$source_color: #1b2447;

$surface: #fbf8ff;

$surface_bright: #fbf8ff;

$surface_container: #efedf4;

$surface_container_high: #e9e7ef;

$surface_container_highest: #e3e1e9;

$surface_container_low: #f4f2fa;

$surface_container_lowest: #ffffff;

$surface_dim: #dbd9e0;

$surface_tint: #4e5b92;

$surface_variant: #e2e1ec;

$tertiary: #75546f;

$tertiary_container: #ffd7f4;

$tertiary_fixed: #ffd7f4;

$tertiary_fixed_dim: #e4bad9;


