// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
@use "./colors.scss" as *;
window.Bar {
    color: $primary;
    font-weight: bold;
    min-height: 36px;
    border-radius: 24px;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    >centerbox {
        background: $surface_transparent;
        border-radius: 0px 0px 24px 24px;
    }


}


.workspaces{
    background-color: $secondary_container;
    border-radius: 24px;
}
.workspace_button {
    border-radius: 36px;
    background-color: $secondary_container;
    color: $on_secondary_container;
}
.workspace_button.focused {
    background-color: $tertiary_container;
    color: $on_primary_container;
}
.battery_level {
    border-radius: 8px;
    margin: 2px;
    background-color: $tertiary_container;
    border-radius: 50%;
  } 

.circular_progress{
    color: $source_color;
    min-width: 36px;
    font-size: 5px;

    label {
        color: $on_surface;
        font-weight: bold;
        font-size: 14px;
    }
}

// .battery_level  .circular_progress {
//     color: #4caf50; /* Color for progress */
//     min-width: 36px; /* Size of the circular progress */
//     font-size: 4px;
// }

// .battery_level .circular_progress label {
//     color: #000; /* Label color */
//     font-weight: bold; /* Bold text for percentage */
//     font-size: 16px;
// }